<a href="https://colab.research.google.com/github/pavss/python1/blob/main/Class%26Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
class person(object):
  def __init__(self, name, id):
    self.name = name
    self.id = id

  def display(self):
    print(self.name)
    print(self.id)

class employee(person):
    def __init__(self, name, id, salary,skills):
      self.salary= salary
      self.skills= skills
      person.__init__(self, name, id)
    def show(self):
      print(self.salary)
      print(self.skills)
a = employee('Pavi', 123, 24000, 'SQL')
a.display()
a.show()

Pavi
123
24000
SQL

In [13]:
class student(person):
    def __init__(self, name, id, marks, course):
      self.marks= marks
      self.course= course
      person.__init__(self, name, id)
    def show(self):
      print(self.marks)
      print(self.course)
a = student('Pavi', 123, 94, 'MBA')
a.display()
a.show()

Pavi
123
94
MBA

In [14]:
class teacher(person):
    def __init__(self, name, id, experience):
      self.experience = experience
      person.__init__(self, name, id)
    def show(self):
      print(self.experience)
a = teacher('Mary', 123, 'Ten years')
a.display()
a.show()

Mary
123
Ten years